{% extends 'home/base.html' %}

{% block content %}
<div class="container">
    <h2>Life Expectancy Projection for Historical and All Scenarios</h2>

    <!-- Dropdown for selecting a country -->
    <form method="get">
        <label for="country">Select Country:</label>
        <select id="country" name="country">
            {% for country in countries %}
                <option value="{{ country }}" {% if country == selected_country %}selected{% endif %}>{{ country }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>

    <!-- Plotly Chart -->
    <div class="chart-container">
        {{ plot_div|safe }}
    </div>
</div>
{% endblock %}
